nav {
    background-color: #8a0808;
    color: #fff;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
  }
  
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-item {
    margin-right: 15px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #fff;
  }
  
  .nav-link:hover {
    color: #f1f1f1;
  }
  